<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awooo - email</title>
</head>

<body style="margin: 0; padding: 0;background-color: #fff; padding: 0px;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
        style="background-color: #fff; font-family: Arial, Helvetica, sans-serif; border-radius: 0px; overflow: hidden;padding:0px; ">
        <tbody>
            <tr>
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="312"
                    style="background-color: #fff; font-family: Arial, Helvetica, sans-serif; border-radius: 0px; overflow: hidden;padding:0px;">
                    <tbody>
                        <tr style="height: 32px;"></tr>
                        <tr>
                            <td style="width: 100%; display: inline-block;">
                                <a href="" style="display: block;">
                                    <img src="{{img}}/logo--exp.png" alt="" style="margin: 0 auto; display: block; max-width: 212px; height: auto;">
                                </a>
                            </td>
                        </tr>
                        <tr style="height: 40px;"></tr>
                        <tr
                            style="display: block;margin: 0 auto; padding: 24px;border-radius: 24px;background-color: #F2F2F7;">
                            <td style="width: 100%;display: block;">
                                <p
                                    style="margin: 0 auto;padding: 0;display: block;text-align: center; font-size: 16px;line-height: 18px;font-weight: 400;color: #000000;">
                                    Ваш код активации аккаунта
                                </p>
                            </td>
                            <td style="width: 100%;display: block; height: 16px;"></td>
                            <td style="width: 100%;display: block;">
                                <p
                                    style="margin: 0 auto;padding: 0;display: block;text-align: center; font-size: 32px;line-height: 37px;font-weight: 400;color: #000000;">
                                    {{code}}
                                </p>
                            </td>
                        </tr>
                        <tr style="height: 40px;"></tr>
                        <tr>
                            <td>
                                <p
                                    style="margin: 0 auto;padding: 0;display: block;text-align: center; font-size: 16px;line-height: 18px;font-weight: 400;color: #000000;">
                                    Или просто перейдите поссылке
                                </p>
                            </td>
                        </tr>
                        <tr style="height: 16px;"></tr>
                        <tr>
                            <td>
                                <a href={{url}}
                                    style="margin: 0 auto;padding: 0;display: block;text-align: center; font-size: 24px;line-height: 28px;font-weight: 400;color: #5AC8FA; text-decoration: none;">
                                    {{url}}
                                </a>
                            </td>
                        </tr>
                        <tr style="height: 40px;"></tr>
                        <tr>
                            <td>
                                <p
                                    style="margin: 0 auto;padding: 0;display: block;text-align: center; font-size: 12px;line-height: 14px;font-weight: 400;color: #8E8E93;">
                                    Если вы не запрашивали активацию, просто проигнорируйте письмо
                                </p>
                            </td>
                        </tr>
                        <tr style="height: 32px;"></tr>
                    </tbody>
                </table>
            </tr>
        </tbody>
    </table>
</body>

</html>